:root {
    --primery-text-color:rgba(223, 236, 226, 0.909);
    --tstle-text-color: #212121;
    --accent-color: rgba (0, 0, 0, 0);
    --primary-bg-color:  rgba(33, 150, 243, 1);

}

.body {
    color: #212121;
    background-color: #fff;
}
/*основний колір тексту rgba (0 0 0 0)*/

/*вторинний колір тексту background: rgba(33, 33, 33, 1);
*/

/*третинний колір тексту */

ul {
    list-style: none;
}
.logo {
    color: background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, #2196F3, #2196F3);
}
.logo:hover {
    color: #6e2323;
}
/* sait nav */
.site-nav .list {
    color: #236523;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: #c2cda8;

}
.auth-nav a {
    color: #6e2323;

}
/* Hero */
.hero-title {
    color: aqua;
}
/* button */
.button {
    color: var(--primery-text-color);
    background-color: var(--primary-bg-color);
    font-size: ;
    padding: ;
    display: inline-block;
    border-color: white;
}
/* Section */
.section-title {
    color: #6e2323
    ;
}
.section-task { 
    color: #757575;;

}
.personality-list .name {
    color: #212121;
}
.position {
    color: #c2cda8;
}

.risheny {
    color: green;
}

